<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="static/element/index.css"/>
    <script src="static/element/vue.js"></script>
    <script src="static/element/index.js"></script>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="main.js"></script>

</head>
<body>
<script>
    $(document).ready(function(){
        $('#app').show();
    });
</script>
<style>
#app{
    display: none;
}
</style>