<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyjx.yxdl.mapper.AppMapper">


    <select id="findAllApp" resultType="com.jyjx.yxdl.entity.App">
          SELECT *,appId AS value,appName AS label FROM app;
    </select>

</mapper>