<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyjx.yxdl.mapper.PayProductMapper">


    <select id="getAllPayProduct" resultType="com.jyjx.yxdl.entity.PayProduct">
        select *,money AS value,description AS label from pay_product
    </select>

    <select id="findByMoney" resultType="com.jyjx.yxdl.entity.PayProduct">
        select * from pay_product where money = #{money}
    </select>

</mapper>