<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyjx.yxdl.mapper.RedisMapper">


    <select id="getAllRedisHost" resultType="com.jyjx.yxdl.entity.Redis">
          SELECT * FROM redis_host
    </select>

    <select id="getRedisInfo" resultType="com.jyjx.yxdl.entity.Redis">
          SELECT * FROM redis_host WHERE redisHostId = #{redisHostId}
    </select>

</mapper>